@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

header, main, footer {
    max-width: 1330px;
}
header, main {
    margin: 0 auto;
}
.nav1, .nav2 {
    display: inline-block;
}
.nav1 li, .nav2 li {
	display: inline-block;
	padding: 57px 0;
	margin: 0 10px;
}
li a {

	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	background: #4682B4;
	outline: 2px solid #FFFFFF;
	box-shadow: 0 0 15px #000;
}
    

.logo {
    width: 140px;
}
li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #000000;
    
}
.text1, .text2, .text3 {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
}
.text1 {
	border: 2px solid #FF0000;
	padding: 5px 10px;
	box-shadow: 1px 1px 5px #000;
	margin: 0 0 30px 0;
}
.text2 {
	border: 2px dotted #0000FF;
	outline: 5px dashed #00FF7F;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 0 10px #FF0000 inset;
	margin: 0 0 30px 0;
}
.text3 {
	border: 5px double #FF00FF;
	outline: 5px double #FF00FF;
	padding: 10px;
	border-radius: 40px 10px 10px 40px;
	margin: 0 0 50px 0;
}
.text4, .text5, .text6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 16px;
}
.text4 {
	max-width: 40%;
	border-radius: 75% 25% 75% 25% / 75% 25% 75% 25%;
	background: #00FFFF;
	padding: 10%;
	margin: 0 0 0 50%;
	overflow: hidden;
}
.text5 {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #00008B;
	padding: 150px 50px;
	text-align: center;
	opacity: 0.3;
	color: #FF0000;
	box-shadow: 5px 5px 10px #4B0082;
}
.text6 {
	max-width: 300px;
	margin: 0 0 50px 50%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	border: 3px solid #FF00FF;
	border-radius: 15px;
	padding: 20px;
} 
.text6 > a {
	display: block;
	opacity: 0;
}
.text7 {
	font-size: 30px;
	text-align: center;
	display: block;
	margin: 0 0 50px 0;
}
.block1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 0 50px 0;
	box-shadow: 0 -40px 150px #FFA500 inset, 0px 60px 80px -30px #C0C0C0;
}
.block2 {
	opacity: 0.5;
	margin: 0 0 50px 0;
}
.block2 p {
	display: inline-block;
	max-width: 33%;
	font-size: 18px;
	line-height: 24px;
	padding: 15px;
	vertical-align: top;
	font-family: 'Montserrat', sans-serif;
}
.text8 {
	font-size: 24px;
	line-height: 30px;
	display: inline-block;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	border: 8px double #000080;
	margin:  0 0 50px 0;
}
.block3 {
	font-size: 20px;
	line-height: 28px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	max-width: 600px;
	text-align: center;
	padding: 15px;
	border-top: 8px solid #4B0082;
	border-right: 8px dotted #0000CD;
	border-bottom: 8px dashed #FF0000;
	border-left: 8px double #006400;
	margin: 0 0 50px 0;
}
.block4 {
	width: 250px;
	height: 80px;
	background: #FF0000;
	margin: 0 0 50px 0;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #000000;
}
.block4 a {
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	display: block;
	text-align: center;
	padding: 24px 0;
}